.cart{
	padding: 20px;
}
.img_item{
	width: 30%;
}
.button_remove{
	margin: 30px;
}
.cart_items{
	margin-left: 70px;
	padding-top: 15px;
}
.summ{
	display:inline;
	width:30%;
	float: right;
	padding: 0 40px 40px 40px;
	margin-right: 70px;
	}
